.nav {
  background-color:rgba(255, 127, 80,0.96);
  height: 80px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  display: flex;
}
.login-link {
  text-decoration: none; 
  color: #fff; 
}
#login:hover
{
 color: white;
}
.li-search {
  margin-bottom: 15px;
}
.nav .logo-name {
  font-size: xx-small;
  padding-bottom: 1px;
}
.logo1 {
  display: flex;
  border-radius: 50%;
  height: 50px;
  width: 60px;
  border: 1px solid black;
}

.logo {
  color:coral;
  margin-left: 10px;
}
.login{
  text-transform: uppercase;
  color: black;
  font-weight: 700;
  text-decoration: none;
  font-size: 20px;
  padding-right: 3%;
}
.nav-content {
  display: flex;
  align-items: center;
}

.nav ul {
  list-style: none;
  display: flex;
  margin-left: 100px;
  padding: 0;
}
.me1
{
height: 2%;
width: 150px;
background-color:cornsilk;
border: 2px solid #2b272e;
color:black;
text-align: center;
}
.me
{
text-decoration: none;
} 
.user-icon-image {
  width: 40px;
  height: 40px;
  position: absolute;
  right: 280px;
  top: 10px;
}

.notification-icon {
  border-radius: 50%;
  width: 30px;
  height: 30px;
  position: absolute;
  right: 160px;
  top: 8px;
}

.user-name {
  margin-left: 10px;
  margin-top: 18px;
  text-transform: uppercase;
  position: absolute;
  right: 100px;
  top: 5px;
}

.toggle {
  margin-bottom: 13px;
  margin-left: 10px;
}
.mobile-nav ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

.mobile-nav ul li {
  margin-top: 10px;
}


@media (max-width: 768px) {
  .nav ul {
    margin-left: 10px; 
  }

  .user-icon-image,
  .notification-icon,
  .user-name {
    position: static; 
    margin: 5px 10px; 
  }
}
hello
  .nav .logo-name {
    font-size: xx-small;
    padding-bottom: 15px;
  }
  .login{

    margin-right: 0;
    margin-top: 0px;
    text-transform: uppercase;
    color: black;
    font-weight: 700;
  }
.top-bar {
  color: #fff; 
  display: flex; 
  margin-left: 700px;
  align-items: center; 
  margin-bottom: 10px;
}

.li-elements {
  margin-right: 50px; 
  list-style: none; 
  display: flex;
  align-items: center; 
}
.notification-icon {
  width: 30px; 
  height: 30px; 
  margin-top: 0.8%;
  margin-right:450px;
}

.login-link {
  margin-left: 0;
  padding:0;
  margin: 0;
  text-decoration: none; 
  color: #fff; 
}
.log:hover
{
 color: #fff;
}
.li-elements{
    color:black;
    text-transform: uppercase;
    font-weight: 700;
  }
  .nav-content {
    display: flex;
    align-items: center;
  }
  .user-icon
  {
    width: 30px; 
  height: 30px; 
  margin-top: 0.8%;
  }
  .nav ul {
    list-style: none;
    display: flex;
    padding: 0;
  }
  
  .nav .search {
   min-width:100%;
    margin-left: 30px;
    border-radius: 20px;
    border: 0;
  }
  .liele{
    color: black;
    text-decoration: none;
    margin-right: 5%;
  }
  .user-icon-image {
    width: 40px;
    height: 40px;
    position: absolute;
    left: 1350px;
    top: 9px;
  }
  .user-name {
    margin-left: 0px;
    margin-top: 18px;
    text-transform: uppercase;
    position: absolute;
    left: 1400px;
    top: 5px;
  }
  
  .toggle {
    margin-bottom: 13px;
    margin-left: 10px;
  }

  .mobile-nav ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
  }
  .user-name-li{
    overflow: hidden;
  }
  
  .mobile-nav ul li {
    margin-top: 10px;
  }
  
  
  @media (max-width: 768px) {
    .nav ul {
      margin-left: 10px; 
    }
  
    .user-icon-image,
    .notification-icon,
    .user-name {
      position: static; 
      margin: 5px 10px; 
    }
  }
  
  